
  
  .front-face {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 2px;
    margin: 10px;
    border-radius: 15px;
    background: #cde9ff;
    backface-visibility: hidden;
  }
  
